.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
}

.archivedNote {
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 2rem;
}

.icons {
  display: flex;
  gap: 2rem;
}

.restore,
.delete {
  font-size: 2.4rem;
  color: #000;
  cursor: pointer;
}

@media (max-width: 55em) {
  .section {
    height: 88vh;
  }
}
