/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(components)/SavedNotes.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.SavedNotes_section__mSlMf {
  background-color: #cbd5e1;
  color: black;
  height: 100vh;
  overflow: auto;
  scrollbar-color: #475569 #fff;
  scrollbar-width: thin;
}

.SavedNotes_headline__AuwzA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9.5rem 0 3rem 0;
  padding: 0 10px;
}

.SavedNotes_title__O5V07 {
  font-size: 2rem;
  font-weight: 500;
}

.SavedNotes_noNotesContent__j39ku {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 6rem 3rem;
}

.SavedNotes_noNotesImage__tk5cA {
  width: 30rem;
  height: 22.7rem;
}

.SavedNotes_noNotesText__RX63O {
  font-size: 1.6rem;
}

.SavedNotes_icons__PTX_G {
  display: flex;
  gap: 2rem;
}

.SavedNotes_edit__M590S,
.SavedNotes_pin__0fJwH,
.SavedNotes_pinoff__FR_3x,
.SavedNotes_archive__k0hF0,
.SavedNotes_delete__uAeEw {
  font-size: 2.4rem;
  color: #000;
  cursor: pointer;
}

.SavedNotes_pinned__7vDJm {
  font-size: 2.4rem;
  color: #000;
}

.SavedNotes_note__ENwUn {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem 0;
  position: relative;
  padding: 0 2rem;
  border-bottom: 1px solid black;
  background-color: #cbd5e1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.SavedNotes_content__KMyfP {
  width: 100%;
  padding: 0.5rem 0;
  resize: none;
  border: none;
  overflow: hidden;
}

.SavedNotes_container__a6LFL {
  display: flex;
  align-items: center;
}

@media (max-width: 55em) {
  .SavedNotes_section__mSlMf {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .SavedNotes_noNotesImage__tk5cA {
    width: 40rem;
    height: 29rem;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(ui)/StyledSidebar.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.StyledSidebar_navList__v_HDH {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 85vh;
}

.StyledSidebar_navLink__EXNOl,
.StyledSidebar_navLink__EXNOl:link,
.StyledSidebar_navLink__EXNOl:visited {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--color-grey-600);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.StyledSidebar_navLink__EXNOl:hover,
.StyledSidebar_navLink__EXNOl:active,
.StyledSidebar_navLink__EXNOl.StyledSidebar_active__xoPDu:link,
.StyledSidebar_navLink__EXNOl.StyledSidebar_active__xoPDu:visited {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
}

.StyledSidebar_navLink__EXNOl svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.StyledSidebar_navLink__EXNOl:hover svg,
.StyledSidebar_navLink__EXNOl:active svg,
.StyledSidebar_navLink__EXNOl.StyledSidebar_active__xoPDu:link svg,
.StyledSidebar_navLink__EXNOl.StyledSidebar_active__xoPDu:visited svg {
  color: var(--color-brand-600);
}

.StyledSidebar_account__ZAmrQ {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.StyledSidebar_menuOpt__h0X6r {
  position: absolute;
  left: 3%;
  top: 55%;
  background-color: var(--color-brand-100);
  /* padding: 1rem; */
  border-radius: 0.9rem;
  width: 15rem;
  /* border: 1px solid #000; */
}

.StyledSidebar_profileOpt__pQg2b {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.StyledSidebar_optLink__SVZwi {
  padding: 1rem;
  border-radius: 0.9rem;
}
.StyledSidebar_optLink__SVZwi:hover {
  background-color: #4f46e5;
  color: #fff;
}

.StyledSidebar_unauth__PDCLR {
  padding: 1rem;
  font-size: 1.5rem;
}

.StyledSidebar_authLink__c8h9D {
  padding: 0.2rem;
  text-decoration: underline;
}

.StyledSidebar_authLink__c8h9D:hover {
  background-color: #4f46e5;
  color: #fff;
}

/* RESPONSIVENESS */
@media (max-width: 84.375em) {
  .StyledSidebar_navList__v_HDH {
    display: none;
  }
  .StyledSidebar_showMenu__v8mIk {
    display: flex;
    margin-top: 6rem;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(ui)/Sidebar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.Sidebar_section__9RMvC {
  background-color: var(--color-grey-0);
  padding: 3.2rem 2.4rem;
  grid-row: 1/ -1;
  border-right: 1px solid var (--color-grey-100);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.Sidebar_closeBtn__cnRLy {
  position: absolute;
  /* top: 0; */
  right: 0px;
  margin: 4px;
  padding: 0.8rem;
  border: none;
  height: 5rem;
  width: 5rem;
  color: var(--color-grey-600);
  border: 2px solid var(--color-grey-600);
  background-color: #fff;
  font-size: 3rem;
  border-radius: 0.6rem;
}

.Sidebar_menu__bx74Z svg {
  width: 3.2rem;
  height: 3.2rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
  display: none;
  cursor: pointer;
}

.Sidebar_sideNav__N5gGF {
  /* height: 10rem; */
  height: 100vh;
  width: 25rem;
  position: fixed;
  z-index: 120;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: all 5s;
  padding-top: 4rem;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.2);
}

@media (max-width: 84.375em) {
  .Sidebar_menu__bx74Z svg {
    display: block;
  }
}

@media (max-width: 55em) {
  .Sidebar_sideNav__N5gGF {
    position: absolute;
    height: 92.25vh;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/(ui)/AppLayout.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.AppLayout_appLayout__jw1nw {
  display: grid;
  grid-template-columns: auto 2fr 3fr;
  overflow: hidden;
}

.AppLayout_core__0pufB {
  padding: 0 2rem;
  margin-top: 4rem;
}

@media (max-width: 87.5em) {
  .AppLayout_appLayout__jw1nw {
    grid-template-columns: auto 2fr 3fr;
  }
}

@media (max-width: 55em) {
  .AppLayout_appLayout__jw1nw {
    grid-column: auto 1fr;
    grid-row: 1fr 1fr;
  }
  .AppLayout_core__0pufB {
    grid-column: 2/-1;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/addNotes/page.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.page_btn__5GbXM {
  font-size: 1.4rem;
  padding: 1.2rem 1.6rem;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  color: var(--color-brand-50);
  background-color: var(--color-brand-600);
  border: none;
  border-radius: 0.9rem;
}
.page_btn__5GbXM:hover {
  background-color: var(--color-brand-700);
}

