.navList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 85vh;
}

.navLink,
.navLink:link,
.navLink:visited {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--color-grey-600);
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;
}

.navLink:hover,
.navLink:active,
.navLink.active:link,
.navLink.active:visited {
  color: var(--color-grey-800);
  background-color: var(--color-grey-50);
  border-radius: var(--border-radius-sm);
}

.navLink svg {
  width: 2.4rem;
  height: 2.4rem;
  color: var(--color-grey-400);
  transition: all 0.3s;
}

.navLink:hover svg,
.navLink:active svg,
.navLink.active:link svg,
.navLink.active:visited svg {
  color: var(--color-brand-600);
}

.account {
  cursor: pointer;
  user-select: none;
}

.menuOpt {
  position: absolute;
  left: 3%;
  top: 55%;
  background-color: var(--color-brand-100);
  /* padding: 1rem; */
  border-radius: 0.9rem;
  width: 15rem;
  /* border: 1px solid #000; */
}

.profileOpt {
  display: flex;
  flex-direction: column;
  /* gap: 0.5rem; */
}

.optLink {
  padding: 1rem;
  border-radius: 0.9rem;
}
.optLink:hover {
  background-color: #4f46e5;
  color: #fff;
}

.unauth {
  padding: 1rem;
  font-size: 1.5rem;
}

.authLink {
  padding: 0.2rem;
  text-decoration: underline;
}

.authLink:hover {
  background-color: #4f46e5;
  color: #fff;
}

/* RESPONSIVENESS */
@media (max-width: 84.375em) {
  .navList {
    display: none;
  }
  .showMenu {
    display: flex;
    margin-top: 6rem;
  }
}
